<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./index.css">
  <title>Hello, Vue.js</title>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <div id="app">
            <h1>{{ message }}</h1>
    </div>
    <div id="app-2">
            <span v-bind:title="message">
                Hover your mouse over me for a few seconds
                to see when this page was loaded!
            </span>
    </div>
    <div id="app-3">
            <span v-if="seen">Now you see me</span>
    </div>
    <div id="app-4">
            <ol>
              <li v-for="todo in todos">
                {{ todo.text }}
              </li>
            </ol>
    </div>
    <div id="app-5">
            <p>{{ message }}</p>
            <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
            <p>{{ reversedMessage }}</p>
            <input v-model="message">
    </div>
    <div id="app-7">
        <ol>
            <todo-item
            v-for="item in groceryList"
            v-bind:todo="item"
            v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>
    <div id="app-8">
        <div class="btn-group1">
            <p id="b">{{ foo }}</p>
            <button v-on:click="foo = 'baz'">Change me!</button>
            <button v-on:click="foo = 'bar'">Change me back!</button>
        </div>
        <div class="btn-group2">
            <p id="r">{{ boo }}</p>
            <button v-on:click="boo = 'for'">Change me too!</button>
            <button v-on:click="boo = 'foo'">Change me back too!</button>
        </div>
    </div>
    <div id="app-9">
            <p>
                Ask a yes/no question:
                <input v-model="question">
            </p>
            <p>{{ answer }}</p>
    </div>
    <div id="app-10">
        <button v-on:click="sh=false">Take out the trash!</button>
        <button v-on:click="sh=true">Generate more trash!</button>
        <template v-if="sh">
                <img src='garbage.jpeg' width="250">
        </template>
    </div>
    <div id="app-11">
        <p>I have been poked {{ counter }} times. Thanks...</p>
        <button v-on:click="counter += 1">Poke</button>
    </div>
    <div id="app-12" style="text-align:center">
        <button v-on:click="anger">Do not touch</button>
    </div>
    <div id="app-13">
        <button v-on:click="say('Ouch')">Poke me</button>
        <button v-on:click="say('Dont do that')">Don't poke me</button>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/axios@0.12.0/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/lodash@4.13.1/lodash.min.js"></script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                message: 'Vue Experimentation Page!',
                now: new Date()
            }
        });
        var app2 = new Vue({
            el: '#app-2',
            data: {
                message: 'You loaded this page on ' + new Date().toLocaleString()
            }
        });
        var app3 = new Vue({
            el: '#app-3',
            data: {
                seen: true
            }
        });
        var app4 = new Vue({
            el: '#app-4',
            data: {
                todos: [
                { text: 'Learn JavaScript' },
                { text: 'Learn Vue' },
                { text: 'Build something awesome' }
                ]
            }
        });
        var app5 = new Vue({
            el: '#app-5',
            data: {
                message: 'Hello Vue.js!'
            },
            methods: {
                reverseMessage: function () {
                this.message = this.message.split('').reverse().join('').toUpperCase()
                }
            }
        });
        var app6 = new Vue({
            el: '#app-6',
            data: {
                message: 'Hello Vue!'
            },
            computed: {
                reversedMessage: function() {
                    return this.message.split('').reverse().join('').toUpperCase()
                }
            }
        });
        Vue.component('todo-item', {
            props: ['todo'],
            template: '<li>{{ todo.text }}</li>'
        });
        var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                { id: 0, text: 'Vegetables' },
                { id: 1, text: 'Cheese' },
                { id: 2, text: 'Whatever else humans are supposed to eat' }
            ]
        }
    });
        var obj = {
            foo:'bar',
            boo:'foo'
        }
        var app8 = new Vue({
            el: '#app-8',
            data: obj
        })
        var app9 = new Vue({
            el: '#app-9',
            data: {
                question: '',
                answer: 'How can I answer a question if you haven\'t asked anything yet!'
            },
            watch: {
                question: function (newQuestion, oldQuestion) {
                    this.answer = 'You are typing too fast for me to keep up!'
                    this.debouncedGetAnswer()
                }
            },
            created: function () {
                this.debouncedGetAnswer = _.debounce(this.getAnswer,500)
            },
            methods: {
                getAnswer: function () {
                    if (this.question.indexOf('?') === -1) {
                        this.answer = 'You forgot a question mark you dingus.'
                        return
                    }
                    this.answer = 'Thinking...'
                    var vm = this
                    axios.get('https://yesno.wtf/api')
                        .then(function (response) {
                        vm.answer = _.capitalize(response.data.answer)
                        })
                        .catch(function (error) {
                        vm.answer = 'Error! Could not reach the API. ' + error
                        })
                    }
                }
        })
        var app10 = new Vue({
            el: '#app-10',
            data: {
                sh:true
            }
        })
        var app11 = new Vue({
            el: '#app-11',
            data: {
                counter: 0
            }
        })
        var app12 = new Vue({
            el: '#app-12',
            data: {
                name: 'Vue.js'
            },
            methods: {
                anger: function(event) {
                    alert('You have angered the Vuejs gods by clicking this button. Be very afraid')
                }
            }
        })
        var app13 = new Vue({
            el: '#app-13',
            methods: {
                say: function (message) {
                    alert(message)
                }
            }
        })
    </script>
        
</body>
</html>